h1{
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  font-size: 4.5rem;
  font-family: 'Mansalva', cursive;
}

h4{
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50%;
  font-family: 'Mansalva', cursive;
}

.planetCard{
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  margin-right: 70px;
  background-color:#000;
  border-radius: 25px;
}
img {
  width: 100%;
  height: 100%;
}
